table {
    margin: 0px;
    padding: 0px;
    min-height: 0px;
    height: auto;
}

.slick-slide {
    margin-left: 10px;
    margin-right: 10px;
}

.slick-arrow {
    z-index: 900;
    position: absolute;
    background-color: white;
    opacity: 0.8;
    padding: 4px;
    height: 40px;
    cursor: pointer;
}

/* Arrows on the side */
.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

/* Arrows at the bottom */
.arrows-bottom .slick-arrow-container {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
}

.arrows-bottom .slick-prev,
.arrows-bottom .slick-next {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    margin: 0 10px;
}

button:focus {
    outline: none;
}

.slick-dots {
    display: none !important;
}